* {
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
@font-face {
    font-family: simpsons;
    src: url(../fonts/Simpsonfont.otf);
}
body {
    background-image: url("../img/fondo3.jpg");
    background-size: cover;
}

.img-article-galileo{
    width: 310px;
    height: 240px;
    border-radius: 5px;
    border: 4px solid #ca9c9c;
}

.galeria-galileo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px;
    justify-content: center;
    row-gap: 55px;
    column-gap: 15px;
    padding: 10%;
}

@media screen and (min-width:660px) and (max-width:905px) {
    .galeria-galileo {
        grid-template-columns: auto auto;
        grid-template-rows: 200px 200px 200px;
        padding-top: 20%;
    }
}
@media screen and (max-width:659px){
    .galeria-galileo {
        grid-template-columns: auto;
        grid-template-rows: 200px 200px 200px;
        padding-top: 20%;
    }
    .menu-navbar-galileo {
        width: 80%; 
    }
}

